<div id="add" style="display: none">
  <form action="#" id="submit_add" onsubmit="return validate_question_add()">
    <label for="add_syllabus">syllabus: </label>
    <input type="text" id="add_syllabus" name="add_syllabus" /><br /><br />
    <label for="add_semester">semester: </label>
    <input
      type="number"
      min="1"
      max="6"
      id="add_semester"
      name="add_semester"
    /><br /><br />
    <label for="add_chapter">chapter: </label>
    <input type="text" id="add_chapter" name="add_chapter" /><br /><br />
    <label for="add_unit">unit: </label>
    <input
      type="number"
      min="1"
      max="5"
      id="add_unit"
      name="add_unit"
    /><br /><br />
    <label for="add_marks">marks: </label>
    <input
      type="number"
      min="2"
      max="6"
      id="add_marks"
      name="add_marks"
    /><br /><br />
    <label for="add_priority">priority: </label>
    <input
      type="number"
      min="1"
      max="3"
      id="add_priority"
      name="add_priority"
    /><br /><br />
    <label for="add_question">question: </label>
    <input type="text" id="add_question" name="add_question" /><br /><br />
    <input type="submit" value="Submit" />
  </form>
</div>
