<header>
    <nav>
      <ul>
        <li class="logo"><a href="#"><i class="fa fa-file-code-o" aria-hidden="true"></i>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </nav>
   <h2>QUESTION PAPER GENERATOR</h2>
    <button class="bg-red-500 text-white rounded-md px-7 py-3 uppercase">
    <a href="/users/logout">Logout</a>
    </button>
</header>