<aside class="sidebar">
  <h2>Hello <%= user %></h2>
  <ul>
    <li>
      <a href="/teacher_page/generate-questions" class="button1"
        >Generate Question Paper</a
      >
    </li>
    <li>
      <a href="/teacher_page/add-questions" class="button1">Add questions</a>
    </li>
    <li>
      <a href="/teacher_page/view-questions-all" class="button1">view/edit</a>
    </li>
  </ul>
</aside>
