

<div class="flex">
<aside class="sidebar h-screen sticky top-0">
  <% if(path.includes("teacher_page")){ %> <% if(locals.user){ %>
  <h2 class="font-semibold text-xl">Welcome <%= user %></h2>
  <% } %>

  <ul>
    <li>
      <a href="/teacher_page/generate-question-view" class="button1"
        >Generate Question Paper</a
      >
    </li>

    <li>
      <a href="/teacher_page/add-page" class="button1">Add Questions</a>
    </li>

    <li>
      <a href="/teacher_page/view-questions-all" class="button1">View/Edit Questions</a>
    </li>
  </ul>

  <% } else { %>

  <h2 class="font-semibold text-xl">Welcome</h2>
  <ul>
    <li>
      <a href="/student_page/generate-question-view" class="button1"
        >Generate Question Paper</a
      >
    </li>

    <li>
      <a href="/student_page/view-questions-all" class="button1">View Questions</a>
    </li>
  </ul>
  <% } %>
</aside>
</div>