<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="/css/teacher_page.css" />
    <script src="https://cdn.tailwindcss.com"></script>

    <script type="text/javascript" src="/scripts/toggle_text_student.js"></script>
    <script type="text/javascript" src="/scripts/view_questions.js"></script>
    <script type="text/javascript" src="/scripts/generate_questions.js"></script>

  </head>
 
  <% if(path.includes("view-questions")){ %>
    <body onload="toggleText1()">
  <% } else if((path.includes("generate-question-view")) || (path.includes("generate-questions"))){ %>
    <body onload = "toggleText2()">
  <% } else { %>
    <body> 
  <% } %>    
  <!-- <body> -->
    <div class="container">
      <%- include('../partials/header'); %>
     
    
        <div class="wrapper">
          <%- include('../partials/sidebar'); %>
            
            <section class="main">

                <%- include('../partials/viewer'); %>

                <%- include('../partials/generator'); %>

        </div>    
        <footer>
        </footer>
    
    </div>
    
    </div>
  </body>
</html>